/* 
1. IMPORTS
2. RESETS
. TEXT STYLING
. BUTTON STYLING
. NAVIGATION - Done
. HERO SECTION
. ABOUT SECTION

*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap");

@font-face {
	font-family: "Tropikal";
	src: url("fonts/tropikal-bold.otf") format("opentype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: "Tropikal", sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

:root {
	--light-tan: #ecdabf;
	--light-grey: #d1d1d1;
	--dark-grey: #0b1315;
	--blue-grey: #141c1e;
}

/*----------------------------------------------RESETS---------------------------------------------------------- */
body {
	margin: 0;
	box-sizing: border-box;
	background: var(--dark-grey);
}

/*----------------------------------------------TEXT STYLING---------------------------------------------------------- */

body {
	font-family: "Cormorant", serif;
	color: var(--light-grey);
}

h1,
h2,
h3 {
	font-family: "Tropikal", serif;
	color: var(--light-tan);
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

.p-extra-small {
	font-size: 18px;
}

.p-small {
	font-size: 24px;
}

.p-large {
	font-size: 36px;
}

.p-extra-large {
	font-size: 96px;
}

/*----------------------------------------------BASE STYLING---------------------------------------------------------- */

.flex {
	display: flex;
}

/*----------------------------------------------BUTTON STYLING---------------------------------------------------------- */

.btn {
	cursor: pointer;
	border-radius: 0;
}

/*----------------------------------------------NAVIGATION---------------------------------------------------------- */
.header {
	border-bottom: 1px solid var(--light-tan);
	background-color: var(--dark-grey);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--light-tan);
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-left: 5rem;
}

.nav-link {
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--light-tan);
}

.nav-link:hover {
	color: var(--light-grey);
}

.nav-logo {
	font-size: 2.1rem;
	font-weight: 500;
	color: var(--light-tan);
}

@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: var(--dark-grey);
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		/* box-shadow: 0 10px 27px var(--light-tan); */
	}

	.nav-menu.active {
		left: 0;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		-webkit-transform: translateY(8px) rotate(45deg);
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		-webkit-transform: translateY(-8px) rotate(-45deg);
		transform: translateY(-8px) rotate(-45deg);
	}
}

/*----------------------------------------------HERO SECTION---------------------------------------------------------- */

h1 {
	color: var(--light-tan);
	font-size: 4em;
	line-height: 1.3;
	max-width: 85%;
}

.hero {
	width: 85%;
	margin: 3.1875em auto 9em;
	padding: 6.5em;
	position: relative;
}

.hero:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.36);
}

.hero-video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.fade-in {
	animation: fadeIn ease-in 4s;
	-webkit-animation: fadeIn ease-in 4s;
	-moz-animation: fadeIn ease-in 4s;
	-o-animation: fadeIn ease-in 4s;
}

.fade-out {
	animation: fadeOut ease-in 2s;
	-webkit-animation: fadeOut ease-in 2s;
	-moz-animation: fadeOut ease-in 2s;
	-o-animation: fadeOut ease-in 2s;
}

@keyframes fadeIn {
	0% {
		filter: blur(1px);
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		filter: blur(0);
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		filter: blur(2px);
		opacity: 0.1;
	}
}

.reservations {
	margin-top: 1em;
	font-size: 1.5em;
	font-weight: 500;
	border: none;
	padding: 0.79em 1.15em;
	transition: all 500ms ease-in;
}

.reservations:hover {
	background-color: var(--dark-grey);
	color: var(--light-grey);
}

h1,
.reservations {
	position: relative;
	z-index: 4;
}

@media screen and (max-width: 1199px) {
	h1 {
		font-size: 3.25em;
	}
}

@media screen and (max-width: 768px) {
	.hero {
		padding: 3.5em;
	}

	h1 {
		max-width: 100%;
	}
}

/*----------------------------------------------ABOUT SECTION---------------------------------------------------------- */

.about h2:nth-of-type(1) {
	width: 40%;
	padding-left: 200px;
}

.intro {
	width: 60%;
	padding-right: 220px;
}

/* .red {
	background: red;
} */

.profile-img {
	width: 30%;
	min-width: 475px;
	margin-left: 40%;
	margin-top: 150px;
}

.tan-card {
	position: relative;
	background: var(--light-tan);
	color: var(--dark-grey);
	width: 630px;
	padding: 30px 40px;
	margin-left: 20%;
	margin-top: -100px;
	z-index: 2;
}

.experience {
	justify-content: center;
	margin-top: 200px;
}

.experience > div {
	margin: 40px;
}

/*----------------------------------------------PROCESS SECTION---------------------------------------------------------- */

.process-top-section {
	margin-top: 230px;
}

.process h2:nth-of-type(1) {
	width: 40%;
	padding-left: 200px;
}

.process-intro {
	width: 60%;
	padding-right: 220px;
}

.process-bottom-section {
	margin-top: 80px;
}

.process-video-container {
	width: 40%;
	padding-left: 200px;
}

.process-video {
	object-fit: cover;
	width: 30%;
	min-width: 400px;
}

.process-description {
	/* position: relative; */
	width: 60%;
	padding-right: 220px;
}

.the-menu h3 {
	margin-bottom: 36px;
}

.music h3 {
	margin-top: 80px;
	margin-bottom: 36px;
}
.process-description div a {
	color: var(--light-tan);
	text-decoration: underline;
	float: right;
}

/*----------------------------------------------IMAGE CAROUSEL SECTION---------------------------------------------------------- */

/* external css: flickity.css */

.image-carousel {
	margin-top: 160px;
}

.image-carousel img {
	width: 460px;
}

/*----------------------------------------------FOOTER SECTION---------------------------------------------------------- */

footer {
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}
